/* Orders.css */

.orders-title {
  text-align: center;
  margin-bottom: 20px;
}

.done-button, .cancel-btn , .accept-btn {
  padding: 5px 10px; /* Consistent padding */
  border-radius: 5px;
  margin: 0 5px; /* Add margin for spacing */
  width: 100px; /* Set a fixed width for consistency */
  height: 35px; /* Set a fixed height for consistency */
  font-size: 14px; /* Ensure font size is consistent */
}

/* Orders.css */

.accept-btn {
  background-color: #FFEB3B; /* Bright Yellow Color */
  color: black; /* Text color */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-btn:hover {
  background-color: #FDD835; /* Darker Yellow on Hover */
}



.yellow-button {
  background-color: yellow;
  color: black; /* Optional: change text color for contrast */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px; /* Optional: add rounded corners */
}

.done-button {
  background-color: green; /* Default color for done button */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px; /* Optional: add rounded corners */
}


.cancel-btn {
  background-color: red; /* Red background */
  color: white;
  border: none;
  cursor: pointer;
}

/* Align buttons within the table cell 

/* Button hover effects */
.done-button:hover {
  opacity: 0.8; /* Slight transparency on hover */
}

.cancel-btn:hover {
  background-color: darkred;
}

.done-button:disabled {
  background-color: #ccc; /* Grey background for disabled button */
  cursor: not-allowed;
}
